:root{
    --main-font:'Montserrat', sans-serif;
    --header-font:'Oswald', sans-serif;
    --background-color:#121212;
    --text-color:#f1f3f5;
    --button-color:#fcc701;
    --btn-text-color:#121212;
    --link-hover:#fec56c;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* GLOBAL VALUES  */

body{
    font-size:100%;
    line-height:1.5rem;
    font-family:var(--main-font);
    background:var(--background-color);
    color:var(--text-color);
}

.logo{
    color:var(--text-color);
    margin:0;
    font-size:2rem;
    font-family:var(--header-font);
    text-transform:uppercase;
}

.logo span{
    font-size:1.5rem;
}


li,
a {
    color:var(--text-color);
    text-decoration:none;
    list-style:none;
    letter-spacing:1px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

li,a:hover{
    transition:0.5s ease-in-out;
    color:var(--link-hover);
}

h1,h2,h3,h4,h5,h6{
font-family:var(--header-font);
text-transform:uppercase;
}

p{
    color:var(--btn-text-color);
}
.container{
    max-width:1140px;
    margin:0 auto;
    padding:30px;
    position:relative;
}

.btn{
    padding:15px 30px;
    background-color: var(--button-color);
    border:none;
    outline:none;
    font-family:var(--main-font);
    cursor:pointer;
    color:var(--btn-text-color);
}

/* HEADER PORTION */

header{
    background-image:url(images/pexels-ray-piedra-1565982.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:70vh;
    color:#fff;
    position:relative;
}

.main-nav{
    background-color: var(--background-color);
}

.main-nav ul{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}





.my-personal-favorite{
    width:40%;
    color:#000;
    background-color:#fff;
    padding:30px;
    border-radius: 3px;
    position: relative;
    margin-top:100px;
}

.sub-heading{
    position:absolute;
    top:2px;
    left:5px;
    font-size: 0.8rem;
    margin-bottom:50px;
    z-index:0;

}

.p-f-h{
    margin:15px 0;
}

.description{
    margin:15px 0;
}


/* MAIN SECTION */

.main-section{
    padding:4rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

}

.m-s-h{
    margin-bottom:30px;
    font-size:3rem;
    text-transform:uppercase;
}

.grid{
    display:grid;
    width: 100%;
    grid-template-columns:33% 33% 33%;
    gap:10px;
}

.grid-item{
    width:100%;
    height:100%;
    cursor:pointer;
    padding:10rem;
    margin:3px;
    position:relative;
}

.grid-item h1{
    width:100%;
}

.grid-item a{
    font-size:1.3rem

}

.grid-item-1{
    background:rgba(0,0,0,0.3) url(/images/pexels-nadim-shaikh-7758253.jpg);
    background-position:center;
    background-size:cover;
    background-blend-mode:darken;
}

.grid-item-2{
    background:rgba(0,0,0,0.5) url(/images/pexels-harry-dona-2338407.jpg);
    background-position:center;
    background-size:cover;
    background-blend-mode:darken;
}

.grid-item-3{
    background:rgba(0,0,0,0.5) url(/images/pexels-engin-akyurt-1460872.jpg);
    background-position:center;
    background-size:cover;
    background-blend-mode:darken;
}

.food-label{
    background-color:#fff;
    position:absolute;
    bottom:0;
    padding:15px;
    width:70%;
}
.food-label h2{
    margin-bottom:20px;
}

