:root{
    --main-font: 'Roboto', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:1px solid red ;
}

/* GLOBAL VALUES  */

body{
    font-size:100%;
    line-height:1.5rem;
    font-family:var(--main-font);
}

.logo{
    color:#000;
    margin:0;
    font-size:2rem;
}

.logo span{
    font-size:1.5rem;
}


li,
a {
    color:#000;
    text-decoration:none;
    list-style:none;
}

.container{
    max-width:1140px;
    margin:0 auto;
    padding:30px;
    position:relative;
}

.btn{
    padding:15px 30px;
    background-color: yellow;
    border:none;
    outline:none;
    font-family:var(--main-font);
    cursor:pointer;
}

/* HEADER PORTION */

header{
    background-image:url(images/pexels-ray-piedra-1565982.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:70vh;
    color:#fff;
    position:relative;
}

.main-nav{
    background-color: #fff;
}

.main-nav ul{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}




.my-personal-favorite{
    width:40%;
    color:#000;
    background-color:#fff;
    padding:30px;
    border-radius: 5px;
    position: relative;
    margin-top:100px;
}

.sub-heading{
    position:absolute;
    top:2px;
    left:5px;
    font-size: 0.8rem;
    margin-bottom:30px;
}

.p-f-h{
    margin-bottom:10px;
}

.description{
    margin:10px;
}


/* MAIN SECTION */

.main-section{
    padding:4rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

}

.m-s-h{
    margin-bottom:30px;
    font-size:3rem;
    text-transform:uppercase;
}

.grid{
    display:grid;
    grid-template-columns:33% 33% 33%;
    gap:20px;

}




.food-label{
    background-color:#fff;
    position:absolute;
    bottom:0;
    padding:15px;
    width:70%;
}
.food-label h2{
    margin-bottom:20px;
}

